* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid blue;
}

.clock {
    height: 100%;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
}

.hour-hand {
    width: 4px;
    height: 22%;
    background-color: black;
    z-index: 8;
    animation: rotate-hour 120s linear infinite;
}

@keyframes rotate-hour {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.minute-hand {
    width: 3px;
    height: 30%;
    background-color: black;
    z-index: 9;
    animation: rotate-min 80s linear infinite;
}

@keyframes rotate-min {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}


.second-hand {
    width: 2px;
    height: 38%;
    background-color: red;
    z-index: 10;
    animation: rotate-second 60s linear infinite;
}

@keyframes rotate-second {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.center-dot {
    width: 6px;
    height: 6px;
    background-color: silver;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}