* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 50%;
    border: 10px solid black;
}

.clock {
    width: 100%;
    height: 100%;
    position: relative;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 10px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 25px;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
    border-radius: 50%;
}

.hour-hand {
    width: 8px;
    height: 21%;
    background-color: black;
    z-index: 8;
    transform: translateX(-50%) rotate(90deg);
}

.minute-hand {
    width: 5px;
    height: 28%;
    background-color: whitesmoke;
    z-index: 9;
}

.second-hand {
    width: 2px;
    height: 35%;
    background-color: red;
    z-index: 10;
    animation: rotate-second 60s linear infinite;
}

@keyframes rotate-second {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.center-dot {
    width: 10px;
    height: 10px;
    background-color: silver;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}